<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="TODOList" ng-cloak="">
    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Ionic Blank Starter</h1>
      </ion-header-bar>
      <ion-content ng-controller="List">

        <div> <!-- Formulario de novos itens -->
          <label class="item item-input">
            <input type="text" placeholder="Novo item" ng-model="novoItem">
          </label>
          <button class="button button-stable button-small button-full" ng-click="inserir(novoItem)">
              Inserir
          </button>
        </div> <!-- Fim do Formulario de novos itens -->

        <ion-list> <!-- Lista de itens -->
          <ion-item collection-repeat="item in todoList" class="item-button-right">
            {{item}}
            <button class="button button-energized button-outline" ng-click="remover(item)">
              <i class="icon {{ platform != 'android' ? 'ion-ios-close-outline' : 'ion-android-cancel'}}"></i>
            </button>
          </ion-item>
        </ion-list>  <!-- Fim da Lista de itens -->

      </ion-content>
    </ion-pane>
  </body>
</html>
